*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

nav{
    display: flex;
    list-style: none; 
    justify-content:space-between;
    max-width: 1200px;
    padding: 12px 0;
    margin:auto;
}

nav ul{
    display: flex;
    list-style: none; 
    gap: 10px;
    align-items: center;
    
}


nav ul li a{
    text-decoration: none;
    color: #575757;
    
}

.common-btn{
    padding: 14px 35px;
    background-color: #1D4ED8;
    font-weight: bold;
    font-size: 16px;
    color:white;
    border-radius: 8px;
    cursor: pointer;
    border: none;

}

.common-btn:hover{
    background-color: black;
}